<!DOCTYPE html>

<html lang="en" xml:lang="en">
<head>
    <title>URBAN BIKE WORKS</title>

    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    
 
        <h2 style="text-align: center">Related Service Orders</h2>
        <div class="container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Service</th>
                    <th>VHR number</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Oil Change</td>
                    <td>KVT3567</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Oil Change</td>
                    <td>KVT3567</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Oil Change</td>
                    <td>KVT3567</td>
                </tr>
            </table>
        </div>
 
</body>
</html>
<script>
    function viewSO() {
        window.location.href = "./ViewSO.html";
    }
</script>
