
<!DOCTYPE html>
<html>
<head>
    <title>URBAN BIKE WORKS</title>

    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
   
    <!-- Main content that should be edited -->
    <main>

        <div class="container">
            <div class="image">
                <img src="~/Images/bike-cover.png"
                     alt="banner" />
            </div>
            <div class="text">

                <p style="margin-left: 20px;">
                    Welcome to <b>URBAN BIKE WORKS</b>, your go-to destination for comprehensive two-wheeler service and maintenance. Our new service center is designed for two-wheeler enthusiasts, offering a wide range of affordable services, including routine maintenance, repairs, customization, and genuine parts. Experience the convenience and expertise your beloved two-wheeler deserves with us. Welcome to a new era of two-wheeler service excellence.
                </p>
            </div>
        </div>
        <div class="container">

            <div class="text">
                <div><b>OUR SERVICES</b></div>
                <p>
                    <ul>
                        <li>
                            <b>REGULAR MAINTENANCE:</b> Keep your bike in top shape with our routine
                            maintenance services. From oil changes to brake checks, we've got
                            you covered.
                        </li>
                        <li>
                            <b>REPAIRS & TROUBLESHOOTING:</b> Got a bike problem? Our skilled
                            mechanics are here to diagnose and fix it. We specialize in engine
                            repairs, electrical issues, and more.
                        </li>
                        <li>
                            <b> CUSTOMIZATION:</b> Make your bike uniquely yours with our
                            customization services. We can help you with custom paint jobs,
                            accessory installation, and performance enhancements.
                        </li>

                        <li>
                            <b>SAFETY INSPECTIONS:</b> Prioritize safety with our thorough bike
                            inspections. We'll ensure your bike is road-ready and safe for
                            your next adventure.
                        </li>
                    </ul>
                </p>
                </p>
            </div>
            <div class="image">
                <img src="~/Images/cover-2.png"
                     alt="banner" />
            </div>
        </div>


    </main>

</body>

</html>

<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
   
</script>
